
body, html {
	font-family: Georgia, Helvetica, sans-serif;
	text-align: center;
	background: #eee;
}

h1, h2, h3 {
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

h1, h2 {
	font-size: 46px;
	text-shadow: 0px 1px 1px #fff;
	letter-spacing: 0.04em;
	margin-bottom: 10px;
}

h2 {
	font-size: 36px;
}

header {
	background: #fff;
	padding: 40px 0 40px 0;
	
	-webkit-box-shadow: 0 0 6px #333;
	   -moz-box-shadow: 0 0 3px #333;
	     -o-box-shadow: 0 0 6px #333;
	        box-shadow: 0 0 6px #333;
}

	header a.sketch {
		display: inline-block;
		margin-top: 20px;
		padding: 8px 16px;
		
		border-radius: 3px;
		background: #FB956C;
		color: #fff;
		
		text-align: center;
		text-decoration: none;
		font-family: Helvetica, Arial, sans-serif;
		
		-webkit-transition: all .11s ease-out;
		   -moz-transition: all .11s ease-out;
		     -o-transition: all .11s ease-out;
		        transition: all .11s ease-out;
	}
	
	header a.sketch:hover {
		background: #fa6d35;
	}

#main {
	padding: 30px;
}

section {
	margin-bottom: 40px;
	margin-top: 40px;
}
	section h2 {
		margin-bottom: 5px;
	}
	
	section ul.sketch-list {
		margin-top: 20px;
	}
	
	section ul.sketch-list li {
		display: inline-block;
		width: 240px;
		height: 145px;
		margin: 0 10px 10px 0;
		
		border: 4px #ddd solid;
		background: #fefefe;
		
		-webkit-transition: all .11s ease-out;
		   -moz-transition: all .11s ease-out;
		     -o-transition: all .11s ease-out;
		        transition: all .11s ease-out;
	}
	
	section ul.sketch-list li a {
		color: #666;
		font-size: 14px;
	}
		
		section ul.sketch-list li canvas {
			width: 240px;
			height: 145px;
		}
		
		section ul.sketch-list li .details {
			text-align: center;
			display: block;
			position: relative;
			top: -32px;
			background: rgba(255,255,255,0.7);
		}
		
		section ul.sketch-list li .details p,
		section ul.sketch-list li .details span {
			display: inline-block;
			margin: 5px 5px;
		}

	section ul.sketch-list li:hover {
		border: 4px #FB956C solid;
	}
	
	section ul.sketch-list li:hover a {
		color: #000;
	}

	section .load-more {
		display: none;
		margin-top: 10px;
		padding: 8px 16px;
		
		border-radius: 3px;
		background: #FB956C;
		color: #fff;
		
		text-align: center;
		text-decoration: none;
		font-family: Helvetica, Arial, sans-serif;
		
		-webkit-transition: all .11s ease-out;
		   -moz-transition: all .11s ease-out;
		     -o-transition: all .11s ease-out;
		        transition: all .11s ease-out;
	}
	
		section .load-more:hover {
			background: #fa6d35;
		}

#featured, #most-recent {
	padding-bottom: 40px;
	margin-top: 10px;
	border-bottom: 1px #999 dashed;
}


a[href="http://www.w3counter.com"] {
	display: none!important;
}


