
body, html {
	height: 100%;
	overflow: none;
	
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#world {
	background: url('../images/background.png');
	border-radius: 2px;
	cursor: crosshair;
}

#options {
	display: none;
	
	color: #fff;
	text-align: center;
}
	
	#options .link,
	#options .switch {
		margin: 2px 10px 2px 2px;
		padding: 7px 10px;
	}
	
	#options .switch.on {
		background: #fa6d35;
	}
	
	#options .switch:hover {
		background: #fa6d35;
	}
	
		#options .switch span {
			padding: 3px 0 3px 0;
			
			text-align: center;
			font-weight: bold;
		}
		
		
/**
 * Size Dropdown
 */
.dropdown {
	display: inline-block;
	margin: 2px 10px 2px 2px;
}

.dropdown-title {
	display: inline-block;
	width: 100%;
	margin: 2px 0 0 0;
	padding: 7px 0;
}
	
	.dropdown-title:hover {
		background: #fa6d35;
	}
	
	.dropdown-title.open {
		background: #fa6d35;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	
	.dropdown-title span {
		display: block;
	}

.dropdown-list {
	position: absolute;
	display: none;
	z-index: 111111;
	
	margin-left: 1px;
	
	
	font-size: 14px;
	background: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px #bbb solid;
	border-top: none;
}
	
	.dropdown-list.open {
		display: block;
	}

	.dropdown-list ul li {
		
	}
	
		.dropdown-list ul li a {
			display: block;
			width: 100%;
			padding: 5px 0;
			
			text-indent: 5px;
			text-decoration: none;
			color: #333;
			
			-webkit-transition: background-color,color .03s,.03s linear;
			   -moz-transition: background-color,color .03s,.03s linear;
			     -o-transition: background-color,color .03s,.03s linear;
			        transition: background-color,color .03s,.03s linear;
		}
		
		.dropdown-list ul li a:hover {
			background: #fdcdb5;
		}

.switch,
.link, 
.dropdown-title {
	position: relative;
	height: 12px;
	
	color: #fff;
	background: #fb956c;
	
	cursor: pointer;
	border-radius: 2px;
	
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 0px 1px #fff;
	
	-webkit-transition: background-color,color,left,top .11s,.11s,0s,0s ease-out!important;
	   -moz-transition: background-color,color,left,top .11s,.11s,0s,0s ease-out!important;
	     -o-transition: background-color,color,left,top .11s,.11s,0s,0s ease-out!important;
	        transition: background-color,color,left,top .11s,.11s,0s,0s ease-out!important;
	
	-webkit-box-shadow: 2px 2px 1px rgb(210,100,70);
	   -moz-box-shadow: 2px 2px 1px rgb(210,100,70);
	     -o-box-shadow: 2px 2px 1px rgb(210,100,70);
	        box-shadow: 2px 2px 1px rgb(210,100,70);
}

.link:active,
.switch:active,
.switch.on,
.dropdown-title:active,
.dropdown-title.open {
	left: 1px;
	top: 1px;
	
	-webkit-box-shadow: 1px 1px 1px rgb(210,100,70);
	   -moz-box-shadow: 1px 1px 1px rgb(210,100,70);
	     -o-box-shadow: 1px 1px 1px rgb(210,100,70);
	        box-shadow: 1px 1px 1px rgb(210,100,70);
}


.link {
	background: #8bbbff;
	
	-webkit-box-shadow: 2px 2px 1px rgb(80,150,200);
	   -moz-box-shadow: 2px 2px 1px rgb(80,150,200);
	     -o-box-shadow: 2px 2px 1px rgb(80,150,200);
	        box-shadow: 2px 2px 1px rgb(80,150,200);
}
.link:hover {
	background: #749fff;
}
.link:active {
	-webkit-box-shadow: 1px 1px 1px rgb(80,150,200);
	   -moz-box-shadow: 1px 1px 1px rgb(80,150,200);
	     -o-box-shadow: 1px 1px 1px rgb(80,150,200);
	        box-shadow: 1px 1px 1px rgb(80,150,200);
}


#dash-toggle {
	display: inline-block;
	width: 66px;
}

#size-dropdown {
	width: 70px;
}
#size-dropdown-list {
	width: 69px;
}

#vibration-dropdown {
	width: 94px;
}
#vibration-dropdown-list {
	width: 93px;
}


/**
 * 
 */
header {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 36px;
	z-index: 5;
	overflow: hidden;
	margin: 0;
	
	background-color: rgba( 0, 0, 0, 0.9 );
	color: #eee;
	
	-webkit-transition: height .22s ease-out;
	   -moz-transition: height .22s ease-out;
	     -o-transition: height .22s ease-out;
	        transition: height .22s ease-out;
}

	header.open {
		height: 195px;
		-webkit-box-shadow: 0 1px 6px #000;
	}
	
	header h1 {
		margin: 2px 8px;
		float: left;
		
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
		font-size: 28px;
	}
	
	header .header-instruction {
		float: left;
		margin: 13px 0 0 15px;
		
		color: #999;
		
		font-size: 10px;
		font-style: italic;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
	
		header.open .header-instruction {
			opacity: 0;
		}
	
	header div.extra {
		margin: 45px 0 0 20px;
		clear: both;
		
		-webkit-transition: opacity .18s linear;
		   -moz-transition: opacity .18s linear;
		     -o-transition: opacity .18s linear;
		        transition: opacity .18s linear;
	}
	
		header div.extra h3 {
			font-weight: bold;
			font-size: 13px;
			margin-bottom: 10px;
		}
		
		header a {
			padding: 2px 4px 2px 2px;
			color: #999;
			
			-webkit-transition: all .1s ease-out;
			   -moz-transition: all .1s ease-out;
			     -o-transition: all .1s ease-out;
			        transition: all .1s ease-in;
		}
			header a:hover {
				padding: 2px 4px 2px 2px;
				
				color: #ddd;
				background-color: #333;
				border-radius: 1px;
			}
		
		header section {
			float: left;
			height: 120px;
			padding: 0 25px;
			
			border-left: 1px #333 solid;
		}
		
		#about {
			padding-left: 0;
			border: none;
		}
		
		#about p {
			margin-bottom: 5px;
			
			font-size: 12px;
			letter-spacing: 0.05em;
		}
		
		#about p.credits {
			margin: 15px 0 2px 0;
			
			color: #666;
			
			font-size: 11px;
			line-height: 1.4em;
			font-style: italic;
		}
		
		#about a:hover {
			padding: 2px 10px 2px 8px;
		}
		
		#share iframe, 
		#share div {
			margin: 2px 0;
		}
		#flattr-button {
			width: 110px;
			height: 20px;
		}
		
		#settings ul li {
			margin: 5px 0;
		}



		
a[href="http://www.w3counter.com"] {
	display: none!important;
}


